---
http_interactions:
- request:
    method: get
    uri: https://webapi.asianodds88.com/AsianOddsService/Login?password=0d05ee024b34f4108c44bbf783b0b4e3&username=webapiuser13
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Code":-1,"Message":null,"Result":{"Key":null,"Password":null,"SuccessfulLogin":false,"TextMessage":"Invalid
        userid or password. Please check your login credentials and try again. ","Token":"","Url":"","Username":"WEBAPIUSER13"}}'
  recorded_at: Wed, 26 Apr 2017 10:24:16 GMT
recorded_with: VCR 3.0.3
